# SEMANA 03
Flor Elizabeth Cerdán León

# Temas
1. Colección de Datos
2. Estructuras Decisivas y Estructuras Repetitivas
3. Clases y Obbjetos
4. Funciones

# 1.Colecciones

In [4]:
# 1.1. Listas
# Es una colección de elementos que puede ser ordenada, modificada, etc..
# Se identifica por los corchetes
# Ejemplo:
aula = ['Bernaola','Chipana','Gomez','Navarro']
print(aula)

['Bernaola', 'Chipana', 'Gomez', 'Navarro']

In [6]:
# Tambien se puede imprimir con solo mencional la lista
aula

['Bernaola', 'Chipana', 'Gomez', 'Navarro']

In [8]:
# Podemos extraer cada elemento por su posición
print(aula[0])
print(aula[1])

Bernaola
Chipana

In [10]:
# Puedo asignar un valor a una posición de la lista
aula[1] = 'Chavez'
aula[1]

'Chavez'

In [12]:
# Mostramos como quedó la lista
aula

['Bernaola', 'Chavez', 'Gomez', 'Navarro']

In [14]:
# Para agregar un elemento utilizamos append
aula.append("Hermitaño")
aula.append("Gomez")
aula

['Bernaola', 'Chavez', 'Gomez', 'Navarro', 'Hermitaño', 'Gomez']

In [16]:
# Para eliminar elementos utilizamos remove[]
aula.remove("Bernaola")
aula

['Chavez', 'Gomez', 'Navarro', 'Hermitaño', 'Gomez']

In [18]:
# Si hubiera varios elementos de valores iguales se elimina la 
# primera coincidencia
aula.remove("Gomez")
aula

['Chavez', 'Navarro', 'Hermitaño', 'Gomez']

In [20]:
# Para obtener el tamaño utilizamos len()
len(aula)

4

In [22]:
# Para recorrrer podemos utilizar una estructura repetitiva
for alumno in aula:
    print(alumno)

Chavez
Navarro
Hermitaño
Gomez

In [24]:
# Para invertir la lista utilizamos reverse()
# invertir NO significa ordenar en forma descendente sin invertir 
# la lista
aula.reverse()
aula

['Gomez', 'Hermitaño', 'Navarro', 'Chavez']

In [26]:
# Parar ordenar una lista utilizamos sort()
aula.sort()
aula

['Chavez', 'Gomez', 'Hermitaño', 'Navarro']

In [28]:
# 1.2 Tuplas
# Es una colección de elementos ordenada (Ordenado significa 
# que tiene un índice) que no se pueden modificar, es inalterable.
# No se pueden agregar elementos ni eliminar.
# se identifica por los parentesis
tupla_aula = ('Bernaola','Chipana','Gomez','Navarro')
tupla_aula

('Bernaola', 'Chipana', 'Gomez', 'Navarro')

In [30]:
# Se puede extraer un elemento por su posición
tupla_aula[2]

'Gomez'

In [32]:
# Para saber la cantidad de elementos de una tupla utilizamos len()
len(tupla_aula)

4

In [34]:
# 1.3 Conjuntos
# Es una colección de elementos que no está ordenado
 # (Significa que no tiene un índice)
conjunto_aula = {'Bernaola','Chipana','Gomez','Navarro'}
conjunto_aula

{'Bernaola', 'Chipana', 'Gomez', 'Navarro'}

In [36]:
# Se puede recorrer utilizando una estructura repetitiva
# Ejemplo: for
for alumno in conjunto_aula:
    print(alumno)

Gomez
Chipana
Navarro
Bernaola

In [38]:
# Observación: No se puede acceder por posición pues no considera 
# indexación
# Por ejemplo:
# conjunto_aula[2] devolvería un mensaje de error

In [40]:
# Para saber la cantidad de elementos utilizamos len()
len(conjunto_aula)

4

In [42]:
# Para agregar utilizamos la función add()
conjunto_aula.add("Palomino")
conjunto_aula

{'Bernaola', 'Chipana', 'Gomez', 'Navarro', 'Palomino'}

In [44]:
# Parar eliminar elementos utilizamos la función remove()
conjunto_aula.remove("Chipana")
conjunto_aula

{'Bernaola', 'Gomez', 'Navarro', 'Palomino'}

In [46]:
# 1.4. Diccionarios
# Es una colección de elementos, que están indexados,
# no estan ordenados y se pueden modificar
# Son escritos entre llaves y están formados por pares de elementos
#  INDICE:VALOR
diccionario_aula = {2:'Bernaola', '1':'Chipana', 'dos':'Gomez', '3':'Navarro',
                    '0':'Palomino'}
diccionario_aula

{2: 'Bernaola',
 '1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino'}

In [48]:
# Del Diccionario: diccionario_aula extraer el valor cuyo índice sea cero en String:
diccionario_aula['0']

'Palomino'

In [50]:
diccionario_aula[2]

'Bernaola'

In [52]:
diccionario_aula["1"]

'Chipana'

In [54]:
diccionario_aula["dos"]

'Gomez'

In [56]:
# Para añadir un par de elementos al diccionario hacemos:
diccionario_aula['20'] = "Vilca"
diccionario_aula

{2: 'Bernaola',
 '1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino',
 '20': 'Vilca'}

In [58]:
# Para eliminar un valor se utiliza pop()
# Por ejemplo,eliminar el elmento de índice dos.ejemplo: Para eliminar a Bernaola que tendríamos que hacer:
diccionario_aula.pop(2)
diccionario_aula

{'1': 'Chipana',
 'dos': 'Gomez',
 '3': 'Navarro',
 '0': 'Palomino',
 '20': 'Vilca'}

In [60]:
# Tambien se puede eliminar utilizando del()
del(diccionario_aula["dos"])
diccionario_aula

{'1': 'Chipana', '3': 'Navarro', '0': 'Palomino', '20': 'Vilca'}

In [62]:
# Para recorrer todos los elementos podemos utilizar for
# En este ejemplo devuelve los índices
for indice in diccionario_aula:
    print(indice)

1
3
0
20

In [64]:
# Para obtener el indice y el valor de cada elemento utilizamos items()
for indice, valor in diccionario_aula.items():
    print(indice, valor)

1 Chipana
3 Navarro
0 Palomino
20 Vilca

In [66]:
# 1.5. Ejercicio
# Dado una lista de [BERNAL, BERNAOLA, CABALLERO, CALDERON, CARRASCO, CENTENO, CHALQUE, CHAVEZ, CONDORI, CRUZ, PALACIOS, PALOMINO, QUISPE, RAMOS, RODAS, SILVERA, TALAVERA, TINEO, VICTORIO, VILCA, ZEA]
# Diseñar un código que muestre si el apellido de un estudiante (Ingresado por teclado) forma parte de la lista
# tiempo: 12 minutos